{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static 'styles/custom.css' %}" rel="stylesheet">
  <title>Booking</title>
</head>
<body data-barba="wrapper">
  <!-- put here content that will not change
  between your pages, like <header> or <nav> -->
  <nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'about' %}">About</a>
    <a href="{% url 'booking' %}">Booking</a>
  </nav>
  <main data-barba="container" data-barba-namespace="home">
    <!-- put here the content you wish to change
    between your pages, like your main content <h1> or <p> -->
      Hello world! This is home page. 
  </main>

  <!-- put here content that will not change
  between your pages, like <footer> -->
</body>
</html>